.home {
    display: flex;
    flex-wrap: wrap;
}
.wel-text-box,
.wel-img-box,
.scroll-down-box {
    position: relative;
}
.wel-text-box,
.wel-img-box {
    min-height: 90vh;
    flex: 1 1 40rem;
}
.wel-text,
.scroll-down {
    position: absolute;
}
.wel-text {
    top: 50%;
    transform: translateY(-50%);
}
.wel-text h1 {
    font-family: var(--ff-body);
    font-weight: 700;
    font-size: 3.6rem;
    text-align: start;
    color: #eee;
    margin: 3rem 2rem;
}
.wel-text h1 span {
    font-weight: 400;
    color: var(--color-body);
}
.wel-text h2,
.wel-text p {
    margin: 2rem;
}
.wel-text h2 {
    font-family: var(--ff-title);
    font-weight: 400;
    font-size: 2.8rem;
    color: var(--color-body);
    text-transform: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.wel-text h2 .job-box {
    position: absolute;
    height: 4.3rem;
    overflow: hidden;
}

.wel-text h2 .name {
    margin-left: 1rem;
    font-weight: 500;
    font-style: italic;
    color: #eee;
}
.wel-text h2 .job {
    margin-top: 0.6rem;
    margin-left: 14rem;
    font-weight: 700;
    color: var(--color-light);
    animation: slider 3s linear infinite;
}
@keyframes slider {
    0% {
        margin-top: -8.6rem; 
    }
    10% {
        margin-top: -4.3rem; 
    }
    45% {
        margin-top: -4.3rem; 
    }
    60% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }
}

.scroll-down-box {
    padding: 2rem 0;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-down{
    cursor: pointer;
    font-size: 1.2rem;
    font-family: var(--ff-body);
    color: var(--color-body);
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    animation: floating 1.5s linear infinite;
}
@keyframes floating {
    0% {
        transform: translateY(-60%);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(-60%);
    }
}
